---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

export interface Props {
  className?: HTMLAttributes<"section">["class"];
}

const { className } = Astro.props;
---

<section class={cn("container mx-auto px-4 md:px-6", className)}>
  <slot />
</section>
