---
import { Button } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

import { Play } from "lucide-react";

export interface Props {
  className?: HTMLAttributes<"div">["class"];
  url: string;
}

const { className, url } = Astro.props;
---

<div
  class={cn(
    "absolute flex items-center justify-center rounded-lg bg-opacity-50 opacity-0 transition-opacity duration-300 group-hover:opacity-100",
    className
  )}
>
  <a href={url} target="_blank">
    <Button
      className="scale-0 transform bg-white text-primary transition-transform duration-300 hover:bg-gray-100 group-hover:scale-100"
    >
      <Play className="mr-2 h-4 w-4" /> Reproducir
    </Button>
  </a>
</div>
