---
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { GET } from "@/pages/api/youtube";
import type { CategorizedVideos } from "@/types";
import { Youtube } from "lucide-react";

let response = await GET(Astro);

const data = await response.json();

const { streams, videos, live, shorts, upcomings }: CategorizedVideos = data;
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background backdrop-blur supports-[backdrop-filter]:bg-background"
>
  <div class="container flex h-14 items-center px-4">
    <div class="flex items-center justify-start gap-x-4">
      <a class="flex items-center justify-center" href="#">
        <img
          src="/public/images/logo.webp"
          loading="lazy"
          alt="Logo con la palabra carajo representando el nombre del canal de streaming"
          width="80"
          height="80"
          class="rounded-full"
        />
      </a>
      <nav class="hidden md:flex items-center space-x-6 font-medium text-sm">
        {
          upcomings.length > 0 && (
            <a
              class="text-foreground/60 transition-colors hover:text-foreground/80"
              href="#upcoming"
            >
              Próximos
            </a>
          )
        }
        <a
          href="#programs"
          class="text-foreground/60 transition-colors hover:text-foreground/80"
        >
          Programacion
        </a>
        {
          streams?.length > 0 && (
            <a
              class="text-foreground/60 transition-colors hover:text-foreground/80"
              href="#streams"
            >
              Ultimos Streams
            </a>
          )
        }
        <a
          class="text-foreground/60 transition-colors hover:text-foreground/80"
          href="#hosts"
        >
          Conductores
        </a>
        {
          shorts?.length > 0 && (
            <a
              class="text-foreground/60 transition-colors hover:text-foreground/80"
              href="#shorts"
            >
              Shorts
            </a>
          )
        }
        {
          videos?.length > 0 && (
            <a
              class="text-foreground/60 transition-colors hover:text-foreground/80"
              href="#videos"
            >
              Videos
            </a>
          )
        }
      </nav>
    </div>
    <!-- <div
      class="flex flex-1 items-center justify-between space-x-2 md:justify-end"
    >
      <div class="w-full flex-1 md:w-auto md:flex-none">
        <Input
          className="max-w-[300px]"
          placeholder="Buscar contenido..."
          type="search"
        />
      </div>
      <a
        href="https://www.youtube.com/@CarajoStream"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Button className="bg-primary hover:bg-primary" size="sm">
          Suscribirse
        </Button>
      </a>
    </div> -->
  </div>
</header>
