<section id="hosts" class="w-full py-12 md:py-24 lg:py-32">
  <div class="container px-4 md:px-6">
    <h2
      class="mb-8 font-bold text-3xl tracking-tighter sm:text-4xl md:text-5xl"
    >
      Nuestros Conductores
    </h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        [
          {
            name: "El Gordo Dan",
            role: "Lanzador de facturas",
            image:
              "https://pbs.twimg.com/profile_images/1680623603149144067/6nOvZ5AS_400x400.jpg",
          },
          {
            name: "Gordo Pablo",
            role: "Experto en Economía",
            image:
              "https://pbs.twimg.com/profile_images/1697688444124680192/iPhLGOks_400x400.jpg",
          },
          {
            name: "Piro",
            role: "Experto en Economía",
            image:
              "https://pbs.twimg.com/profile_images/1833996536239341568/jSd6aQdW_400x400.jpg",
          },
          {
            name: "Tonio",
            role: "Misa",
            image:
              "https://pbs.twimg.com/profile_images/1825654889688481792/AGw5QSoa_400x400.jpg",
          },
          {
            name: "Mariano Perez",
            role: "Periodista",
            image:
              "https://pbs.twimg.com/profile_images/1796381765726064640/h2CuhHY0_400x400.jpg",
          },
          {
            name: "Gordo Matrix",
            role: "Right Libertarian. Hedonista. Misantropo.",
            image:
              "https://pbs.twimg.com/profile_images/1828650277727010816/uV2Cb3eC_400x400.jpg",
          },
        ].map((host) => (
          <div class="flex flex-col items-center text-center">
            <img
              src={host.image}
              alt={host.name}
              width={200}
              height={200}
              class="mb-4 rounded-full"
            />
            <h3 class="font-bold text-xl">{host.name}</h3>
            <p class="text-gray-600">{host.role}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
