---
import Container from "@/components/container.astro";
import VideoButton from "@/components/VideoButton.astro";
import type { CategorizedVideos } from "@/types";

const { shorts } = Astro.props as CategorizedVideos;
---

<section id="shorts" class="w-full py-12 md:py-24 lg:py-32">
  <Container>
    <h2
      class="mb-8 font-bold text-3xl tracking-tighter sm:text-4xl md:text-5xl"
    >
      Shorts Destacados
    </h2>
    <div class="flex space-x-4 overflow-x-auto pb-4">
      {
        shorts?.map((short) => (
          <div class="group relative w-48 flex-none">
            <div class="overflow-hidden rounded-lg shadow-md">
              <img
                src={short.thumbnails.standard.url}
                alt={`Short thumbnail ${short.title}`}
                width={200}
                height={300}
                class="w-full object-cover"
              />
              <div class="p-2">
                <p class="font-semibold text-sm">{short.title}</p>
              </div>
            </div>
            <VideoButton url={short.url} className="top-0 right-0 p-4" />
          </div>
        ))
      }
    </div>
  </Container>
</section>
