---
import { Radio } from "lucide-react";

import { Button } from "@/components/ui/button";
import type { CategorizedVideos } from "@/types";

const { upcomings } = Astro.props as CategorizedVideos;
---

<section id="upcoming" class="w-full bg-gray-100 py-12 md:py-24 lg:py-32">
  <div class="container px-4 md:px-6">
    <h2
      class="mb-8 font-bold text-3xl tracking-tighter sm:text-4xl md:text-5xl"
    >
      Próximas Emisiones
    </h2>
    <div class="space-y-4">
      {
        upcomings?.map((upcoming) => (
          <div class="flex items-center space-x-4 rounded-lg bg-white p-4 shadow">
            <div class="flex-none">
              <Radio className="h-8 w-8 text-purple-600" />
            </div>
            <div class="flex-grow">
              <h3 class="font-bold">{upcoming.title}</h3>
              <p class="text-gray-600 text-sm">{upcoming.publishedAt}</p>
            </div>
            <Button variant="outline">Recordatorio</Button>
          </div>
        ))
      }
    </div>
  </div>
</section>
