---
import HeadSEO from "@/components/HeadSEO.astro";
import Footer from "@/sections/footer.astro";
import Header from "@/sections/header.astro";
interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body>
    <Header />
    <slot class="container mx-auto" />
    <Footer />
  </body>
</html>
